<div class="container-fluid">
  <div class="row section">
    <div class="col-12 section-title">
      <i class="fa fa-flask mr-3"></i>Investigaciones</div>
  </div>
  <div class="card mt-4">
    <div class="card-header q-card-header">
      <i class="fa fa-file-text-o mr-3"></i>Programa de entrenamiento en imaginación visual con música relajante y efectividad en tiros libres en baloncesto femenino
    </div>
    <div class="card-body p-3">
      <div class="row">
        <div class="col-md-2 text-center">
          <a href="assets/archivos/investigaciones/Programa_de_Entrenamiento_en_Imaginacion_Visual.pdf" target="_blank">
            <img src="assets/img/pdf.png"/>
            <div class="text-link">Descargar Artículo</div>
          </a>
        </div>
        <div class="col-md-2 text-center">
          <a href="assets/archivos/investigaciones/CV_Melina_Labrone.pdf" target="_blank">
            <img src="assets/img/pdf.png"/>
            <div class="text-link">CV - Melina Labrone</div>
          </a>
        </div>
        <div class="col-md-2 text-center">
          <a href="assets/archivos/investigaciones/CV_German_Nuñez.pdf" target="_blank">
            <img src="assets/img/pdf.png"/>
            <div class="text-link">CV - German Nuñez</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-header q-card-header">
      <i class="fa fa-search mr-3"></i>Líneas de investigación en Psicología del Deporte.
    </div>
    <div class="card-body p-3">
      <div class="row">
        <div class="col-md-12">
          <div>
              Dr. Francisco García Ucha (Cuba), Marcela Herrera (Chile) y Franklin Andrade Fabre (Ecuador).              
          </div>
          <div class=" mt-3">
              Por consultas sobre este tema, por favor enviar mail a: <strong>ucha@inder.cu</strong>
          </div>
          <ul class="list-group text-justify mt-4">
            <li class="list-group-item">
              <i class="fa fa-caret-right mr-3"></i>Estudio de los trastornos del dormir en deportistas de alto rendimiento.
            </li>
            <li class="list-group-item">
              <i class="fa fa-caret-right mr-3"></i>Motivaciones superiores en deportistas de alto rendimiento.
            </li>
            <li class="list-group-item">
              <i class="fa fa-caret-right mr-3"></i>Estudio de la respuesta agresiva del deportista ante el estrés de la competencia.
            </li>
            <li class="list-group-item">
              <i class="fa fa-caret-right mr-3"></i>Respuesta psicológica a las cargas de entrenamiento.
            </li>
            <li class="list-group-item">
              <i class="fa fa-caret-right mr-3"></i>Repercusiones psicológicas del éxito y el fracaso en el deportista.
            </li>
            <li class="list-group-item">
              <i class="fa fa-caret-right mr-3"></i>Variables psicológicas en la identificación de talentos deportivos.
            </li>
            <li class="list-group-item">
              <i class="fa fa-caret-right mr-3"></i>Respuesta psicológica a los programas de ejercicio físico en la promoción de la salud.
            </li>
            <li class="list-group-item">
              <i class="fa fa-caret-right mr-3"></i>Problemas psicológicos del deportista que transitan al retiro o retirados.
            </li>
            <li class="list-group-item">
              <i class="fa fa-caret-right mr-3"></i>Mediadores psicológicos del estado de máximo rendimiento deportivo.
            </li>
            <li class="list-group-item">
              <i class="fa fa-caret-right mr-3"></i>Reacciones emocionales del deportista lesionado.
            </li>
            <li class="list-group-item">
              <i class="fa fa-caret-right mr-3"></i>Identidad nacional y rendimiento deportivos.
            </li>
            <li class="list-group-item">
              <i class="fa fa-caret-right mr-3"></i>Percepción del entrenador por el deportista y clima social en el equipo deportivo.
            </li>
            <li class="list-group-item">
              <i class="fa fa-caret-right mr-3"></i>Espiritualidad y deporte.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>