<scp-top-bar></scp-top-bar>

<div class="container-fluid bg-header">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <scp-brand></scp-brand>
        </div>
        <div class="col-sm-8 mt-4 mb-4 text-frase text-right">
            "En pos de una Psicología del deporte que trascienda las fronteras y nos mancomune, con solidaridad, trabajo en equipo, valores, organización y ética. Nos lanzamos a este nuevo desafío."
        </div>
    </div>
</div>

<scp-navbar></scp-navbar>
