<div class="collapse m-3" id="bra" data-parent="#paises">
  <div class="card">
    <div class="card-header m-card-header">
      <img src="assets/img/banderas/bra.png" class="mr-3" width="20">Representantes de Brasil
    </div>
    <div class="card-body p-3">
      <div class="card mt-3">
        <div class="card-body p-3">
          <div class="media">
            <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/bra/peixoto.jpg" alt="Me. Alessandra Peixoto Monteiro" title="Me. Alessandra Peixoto Monteiro">
            <div class="media-body ml-3">
              <div class="m-media-title">Me. Alessandra Peixoto Monteiro</div>
              <div class="m-media-description">
                <div>
                  <i class="fa fa-caret-right mr-3"></i>Mestre em Psicologia do Desenvolvimento e Diferenças Individuais pela UFMG (2017)
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Especialista em Psicologia do Esporte pela Universidade Castelo Branco - RJ (2008)
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Especialista em Psicologia do Esporte pelo Conselho Federal de Psicologia (2013)
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Formação em Terapia Breve e Hipnose Ericksoniana pelo IME-BH (2007)
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Especialista em Terapia Cognitiva Comportamental-TCC pelo Instituto WP- RS (2019)
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Possui Graduação e Licenciatura Plena em Psicologia pela PUC-MG (1986)
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Professora da Universidade Salgado Filho (2019- atual)
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Proprietária da Clínica Esportivamente onde atua como psicóloga clínica e esportiva (atual)
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Professora do curso de formação de árbitros da Escola Mineira de Futebol (atual)
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body p-3">
      <div class="card mt-3">
        <div class="card-body p-3">
          <div class="media">
            <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/bra/santos.jpg" alt="Talita Rocha Santos"
              title="Talita Rocha Santos">
            <div class="media-body ml-3">
              <div class="m-media-title">Talita Rocha Santos</div>
              <div class="m-media-description">
                <div>
                  <i class="fa fa-caret-right mr-3"></i>Mestre em Psicologia Cognição e Comportamento (UFMG)
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Possui graduação em Psicologia pela Universidade Federal de Minas Gerais (2017)
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Membro do setor de pesquisa em Psicologia do Esporte no Centro de Treinamento Esportivo da UFMG (2016-2018)
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Estágio em docência nas disciplinas de Análise Experimental do Comportamento II- UFMG (2016) e Técnicas de Exame Psicológico I- UFMG (2018)
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Docente da disciplina de Psicologia do Esporte na Faculdade Ciências da Vida, em Sete Lagoas, Minas Gerais. Atualmente é pesquisadora da Universidade Federal de Minas Gerais.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>




  </div>
</div>
