<div class="collapse m-3" id="bol" data-parent="#paises">
  <div class="card">
    <div class="card-header m-card-header">
      <img src="assets/img/banderas/bol.png" class="mr-3" width="20">Representantes de Bolivia
    </div>
    <div class="card-body p-3">
      <div class="card">
        <div class="card-body p-3">
          <div class="media">
            <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/bol/inchauste.png" alt="Ignacio Liévana Inchauste"
              title="Ignacio Liévana Inchauste">
            <div class="media-body ml-3">
              <div class="m-media-title">Ignacio Liévana Inchauste</div>
              <div class="m-media-description">
                <div>
                  <i class="fa fa-caret-right mr-3"></i>Licenciado en Psicología UCB.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Máster Internacional en Psicología del deporte CECAP - España.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Coordinador del área de Psicología Deportiva Club Mariscal Braun, Coordinador diplomado de Psicología del Fútbol Universidad Católica Boliviana "San Pablo" (UCB)
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="card-body p-3">
      <div class="card">
        <div class="card-body p-3">
          <div class="media">
            <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/bol/tusnelda.png" alt="Tusnelda Patricia Flores Schemmel"
              title="Tusnelda Patricia Flores Schemmel">
            <div class="media-body ml-3">
              <div class="m-media-title">Tusnelda Patricia Flores Schemmel</div>
              <div class="m-media-description">
                <div>
                  <i class="fa fa-caret-right mr-3"></i>Licenciada en Psicología.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Especialidad en psicología aplicada al futbol.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Maestría en Psicología de la Actividad Física y del Deporte (concluyendo) Labor en, equipos profesionales
                  de futbol como el Club Blooming y el Club Oriente Petrolero.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body p-3">
          <div class="media">
            <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/bol/shirley.png" alt="Shirley Jaycee Mallo Barriga"
              title="Shirley Jaycee Mallo Barriga">
            <div class="media-body ml-3">
              <div class="m-media-title">Shirley Jaycee Mallo Barriga</div>
              <div class="m-media-description">
                <div>
                  <i class="fa fa-caret-right mr-3"></i>Licenciada en Psicología, Universidad Católica Boliviana “San Pablo”.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Diplomado en Org. y Admin. Pedagógica del Aula en Educación Superior, Universidad Mayor de San Andrés.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Especialización en Psicología del Deporte APDA UBA.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Docente en la carrera Entrenador de Fútbol del Instituto Superior de Entrenadores de Fútbol de La Paz
                  y la carrera Periodismo Deportivo de la Universidad Privada San Agustín.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Autora del libro “Psicología del Deporte en el Fútbol Infanto Juvenil”.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
