<div class="collapse m-3" id="ecu" data-parent="#paises">
  <div class="card">
    <div class="card-header m-card-header">
      <img src="assets/img/banderas/ecu.png" class="mr-3" width="20">Representantes de Ecuador
    </div>
    <div class="card-body p-3">
      <div class="card">
        <div class="card-body p-3">
          <div class="media">
            <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/ecu/carrera.png" alt="Carlos Andrango Carrera"
              title="Carlos Andrango Carrera">
            <div class="media-body ml-3">
              <div class="m-media-title">Carlos Andrango Carrera</div>
              <div class="m-media-description">
                <div>
                  <i class="fa fa-caret-right mr-3"></i>Magister en Psicología del Deporte Universidad Central del Ecuador 2012.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Lic. Psicología y O V. Universidad Central del Ecuador 1986.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Psicólogo selecciones estudiantiles Red Q5.1998 – 2014. Docente U.E. Luxemburgo.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body p-3">
          <div class="media">
            <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/ecu/fabre.png" alt="Franklin Andrade Fabre" title="Franklin Andrade Fabre">
            <div class="media-body ml-3">
              <div class="m-media-title">Franklin Andrade Fabre</div>
              <div class="m-media-description">
                <div>
                  <i class="fa fa-caret-right mr-3"></i>Director de la Maestria en Docencia Universitaria e Investigación Educativa.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Presidente de la Asociación Ecuatoriana de Psicologia del Deporte- Núcleo del Guayas.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Director Ejecutivo de CEDHUCA.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body p-3">
          <div class="media">
            <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/ecu/ortiz.png" alt="Irma Edith Ortiz Mora" title="Irma Edith Ortiz Mora">
            <div class="media-body ml-3">
              <!-- <div class="m-media-title">Irma Edith Ortiz Mora</div>
              <div class="m-media-description">
                <div>
                  <i class="fa fa-caret-right mr-3"></i>Postgrado especialista en Psicologia Deportiva.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Maestría en Psicología del Deporte Universidad Central Ecuador.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Docente Universitaria. U.T.A.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Psicóloga del Deporte Federación de Atletismo C.D.P.
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>