<div class="container-fluid">
  <div class="row section">
    <div class="col-12 section-title">
      <i class="fa fa-video-camera mr-3"></i>II CONGRESO INTERNACIONAL DE LA SOCIEDAD LATINOAMERICANA Y
      DEL CARIBE DE PSICOLOGÍA DE LA ACTIVIDAD FISICA Y DEL DEPORTE
    </div>
  </div>  
  
  <div class="row">
    <div class="col-12">
      <video autoplay controls>
        <source src="assets/videos/5.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 style="margin-top: 20px; margin-bottom:20px;">Videos de expositores del congreso:</h1>
    </div>
    <div class="col-md-4 col-lg-3">
      <video controls>
        <source src="assets/videos/2.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-md-4 col-lg-3">
      <video controls>
        <source src="assets/videos/3.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-md-4 col-lg-3">
      <video controls>
        <source src="assets/videos/4.mp4" type="video/mp4">
      </video>
    </div>
    
    <div class="col-md-4 col-lg-3">
      <video controls>
        <source src="assets/videos/6.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-md-4 col-lg-3">
      <video controls>
        <source src="assets/videos/7.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-md-4 col-lg-3">
      <video controls>
        <source src="assets/videos/8.mp4" type="video/mp4">
      </video>
    </div>

  </div>

  <div class="row">
      <a href="assets/archivos/home/cordoba-v2.pdf" target="blank">
        <h2 style="text-align: center; margin-top: 40px; margin-left:20px;">CLICK AQUÍ PARA MÁS INFORMACIÓN SOBRE EL CONGRESO</h2>      
      </a>
  </div>
  <div class="row">
      <a href="assets/archivos/home/Tarifas-Hospedaje.pdf" target="blank">
        <h2 style="text-align: center; margin: 20px;">Click aquí para más información sobre hospedaje</h2>
      </a>
  </div>

  


</div>