<div class="container-fluid">
  <div class="row section">
    <div class="col-12 section-title">
      <i class="fa fa-street-view mr-3"></i>Quiénes Somos</div>
  </div>
  <div class="card mt-4">
    <div class="card-body p-3">
      <div class="row">
        <div class="col-md-12 text-quienes-somos">
          La Sociedad Latinoamericana y del Caribe de Psicología de la actividad física y del Deporte (SOLCPAD) se constituye el 14
          de agosto del 2014 en Buenos Aires, creada desde la necesidad de un gran movimiento latinoamericano que viene a
          ocupar un espacio que desde hace tiempo se viene demandando en pos de una Psicologia del deporte que trascienda
          las fronteras y nos unifique. Y con colegas que vivan en este bendito suelo americano.
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          <div class="card mt-4">
            <div class="card-header q-card-header q-header-tertiary">
              <i class="fa fa-dot-circle-o mr-3"></i>Misión
            </div>
            <div class="card-body text-quienes-somos p-3">
              Contribuir al crecimiento y desarrollo de la Sociedad Latinoamericana de Psicología del Deporte a través del Desarrollo de
              encuentros e intercambios científicos con los psicólogos del deporte en sus áreas y en el ámbito continental,
              (es decir en Latinoamérica y el Caribe.)
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mt-4">
            <div class="card-header q-card-header q-header-tertiary">
              <i class="fa fa-eye mr-3"></i>Visión
            </div>
            <div class="card-body text-quienes-somos p-3">
              Mejorar la calidad y efectividad en los servicios de psicología del deporte tanto en la solución de problemas prácticos en
              la actividad deportiva como en la formación y capacitación en la especialidad y en la investigación con solidaridad,
              trabajo en equipo, valores, organización y ética.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card mt-4">
            <div class="card-header q-card-header q-header-primary">
              <i class="fa fa-flag mr-3"></i>Objetivos
            </div>
            <div class="card-body p-3">
              <ul class="list-group text-justify">
                <li class="list-group-item">
                  <i class="fa fa-caret-right mr-3"></i>Elevar la calidad y el rigor en la formación de psicólogos del deporte.
                </li>
                <li class="list-group-item">
                  <i class="fa fa-caret-right mr-3"></i>Elevar la calidad y el rigor en la formación de psicólogos del deporte.
                </li>
                <li class="list-group-item">
                  <i class="fa fa-caret-right mr-3"></i>Desarrollar convenios de intercambios con todas las asociaciones y sociedades en Latinoamérica y el Caribe.
                </li>
                <li class="list-group-item">
                  <i class="fa fa-caret-right mr-3"></i>Contribuir al desarrollo de la red de psicología del deporte.
                </li>
                <li class="list-group-item">
                  <i class="fa fa-caret-right mr-3"></i>Realizar foros de intercambio, congresos, capacitaciones y supervisiones.
                </li>
                <li class="list-group-item">
                  <i class="fa fa-caret-right mr-3"></i>Participar activamente en los eventos científicos y en los proyecto de I+D en las comunidad científicas de psicología del deporte.
                </li>
                <li class="list-group-item">
                  <i class="fa fa-caret-right mr-3"></i>Lograr avances en la divulgación científica y popular de los logros de la psicología del deporte en Latinoamérica.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>