<div class="collapse m-3" id="per" data-parent="#paises">
  <div class="card">
    <div class="card-header m-card-header">
      <img src="assets/img/banderas/per.png" class="mr-3" width="20">Representantes de Peru
    </div>
    <div class="card-body p-3">
      <div class="card">
        <div class="card-body p-3">
          <div class="media">
            <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/per/nieri.png" alt="Dante Nieri"
              title="Dante Nieri">
            <div class="media-body ml-3">
              <div class="m-media-title">Dante Nieri</div>
              <div class="m-media-description">
                <div>
                  <i class="fa fa-caret-right mr-3"></i> Psicólogo (C.Ps.P. 14601), especializado en rendimiento y deporte (Maestría SIPD y estudios de doctorado culminados en la Universidad Las Palmas, de Gran Canaria)
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i> Psicoterapeuta CBT y EMDR. Instructor MSPE, EFT, BG, Yoga y BJJ; Master PNL, coach y coach deportivo
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Más de una década como docente universitario: ISIL, PUCP, UL, UPC
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Casi 20 años de experiencia trabajando con más de veinte deportes, a nivel base (formativo y competitivo) y alto rendimiento (profesionales, mundialistas y olímpicos), con las selecciones peruanas de Optimst, Surf y BMX, con los clubes de Fútbol Universidad San Martin, Sporting Cristal y Sport Boys, con empresas (gerentes, médicos y enfermeras) y otros profesionales (pilotos y bailarinas). Ha trabajado con medallistas peruanos en torneos nacionales, bolivarianos, sudamericanos, panamericanos y mundialistas.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Autor de libro de especialidad: Psicología deportiva aplicada al Surf.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
