<div class="collapse m-3" id="uru" data-parent="#paises">
    <div class="card">
      <div class="card-header m-card-header">
        <img src="assets/img/banderas/uru.png" class="mr-3" width="20">Representantes de Uruguay
      </div>
      <div class="card-body p-3">
        <div class="card">
          <div class="card-body p-3">
            <div class="media">
              <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/uru/mariano.png" alt="Guillermo Mariano"
                title="Guillermo Mariano">
              <div class="media-body ml-3">
                <div class="m-media-title">Guillermo Mariano</div>
                <div class="m-media-description">
                  <div>
                    <i class="fa fa-caret-right mr-3"></i>Licenciado en Psicología por la Universidad Católica del Uruguay.
                  </div>
                  <div class="mt-2">
                    <i class="fa fa-caret-right mr-3"></i>Especializado en Psicología del Deporte en SUPDE.
                  </div>
                  <div class="mt-2">
                    <i class="fa fa-caret-right mr-3"></i>Cursando Máster en Psicología del Deporte en SIPD.
                  </div>
                  <div class="mt-2">
                    <i class="fa fa-caret-right mr-3"></i>Docente en Instituto Universitario ACJ.
                  </div>
                  <div class="mt-2">
                    <i class="fa fa-caret-right mr-3"></i>Selecciones Formativas de Básquetbol de Uruguay.
                  </div>
                  <div class="mt-2">
                    <i class="fa fa-caret-right mr-3"></i>Club Atlético River Plate (Fútbol, Sub 14 a Sub 19).
                  </div>
                  <div class="mt-2">
                    <i class="fa fa-caret-right mr-3"></i>Club Aguada (Básquetbol, Sub 14 y Sub 16).
                  </div>
                  <div class="mt-2">
                    <i class="fa fa-caret-right mr-3"></i>Club Olimpia (Natación).
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card mt-3">
          <div class="card-body p-3">
            <div class="media">
              <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/uru/berneche.png" alt="María Eugenia Berneche"
                title="María Eugenia Berneche">
              <div class="media-body ml-3">
                <div class="m-media-title">María Eugenia Berneche</div>
                <div class="m-media-description">
                  <div>
                    <i class="fa fa-caret-right mr-3"></i>Licenciada en Psicología (Universidad de la República - Uruguay)
                  </div>
                  <div class="mt-2">
                    <i class="fa fa-caret-right mr-3"></i>Máster en Psicología del Deporte y de la Actividad Física (Sociedad Iberoamericana de Psicologia del Deporte - España)
                  </div>
                  <div class="mt-2">
                    <i class="fa fa-caret-right mr-3"></i>Docente de la asignatura Psicología del Deporte de la Asociación Uruguaya de Entrenadores de Fútbol
                  </div>
                  <div class="mt-2">
                    <i class="fa fa-caret-right mr-3"></i>Instituto Técnico Profesional.
                  </div>
                  <div class="mt-2">
                    <i class="fa fa-caret-right mr-3"></i>Directora de la Consultoría FLOW Psicología del Deporte (experiencia en: triatlón, atletismo, natación, natación de aguas abiertas, tiro olímpico, fútbol formativo y profesional, basquetbol formativo y profesional, hockey, handball, ciclismo, gimnasia artística).
                  </div>
                  <div class="mt-2">
                    <i class="fa fa-caret-right mr-3"></i>Psicóloga del Deporte del Club Atlético Goes (Plantel Principal y Categorías formativas de Basquetbol).
                  </div>
                  <div class="mt-2">
                    <i class="fa fa-caret-right mr-3"></i>Psicóloga del Deporte de Deportivo Montevideo, equipo de PowerChair (Fútbol en sillas de ruedas motorizadas).
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
