<div class="collapse m-3" id="col" data-parent="#paises">
  <div class="card">
    <div class="card-header m-card-header">
      <img src="assets/img/banderas/col.png" class="mr-3" width="20">Representantes de Colombia
    </div>
    <div class="card-body p-3">
      <div class="card">
        <div class="card-body p-3">
          <div class="media">
            <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/col/montenegro.png" alt="Clara Montenegro"
              title="Clara Montenegro">
            <div class="media-body ml-3">
              <div class="m-media-title">Clara Montenegro</div>
              <div class="m-media-description">
                <div>
                  <i class="fa fa-caret-right mr-3"></i>Psicóloga egresada de la Universidad de La Sabana.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Certificación de Psicólogo especialista en Futbol, Psicología del deporte.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>CENTRO EXCELENTIA. España, Sevilla 2014.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Certificada en Modelo O-CHIP Club Millonarios FC (Categoría Sub 20).
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body p-3">
        <div class="media">
          <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/col/perez2.png" alt="Juan Alejandro Pérez Quintero" title="Juan Alejandro Pérez Quintero">
          <div class="media-body ml-3">
            <div class="m-media-title">Juan Alejandro Pérez Quintero</div>
            <div class="m-media-description">
              <div>
                <i class="fa fa-caret-right mr-3"></i>Psicólogo - Universidad ICESI
              </div>
              <div class="mt-2">
                <i class="fa fa-caret-right mr-3"></i>Psicólogo de fedecolde (E-sports)
              </div>
              <div class="mt-2">
                <i class="fa fa-caret-right mr-3"></i>Cantera deportivo cali 2019
              </div>
              <div class="mt-2">
                <i class="fa fa-caret-right mr-3"></i>Ponente Nacional de Psicología del Deporte en Colombia y autor de publicaciones científicas de psicología del deporte.
              </div>
              <div class="mt-2">
                <i class="fa fa-caret-right mr-3"></i>Cofundador de ACOPDAF (Asociación Colombiana de Psicología del Deporte y la Actividad Física)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
