<div class="collapse m-3" id="par" data-parent="#paises">
  <div class="card">
    <div class="card-header m-card-header">
      <img src="assets/img/banderas/par.png" class="mr-3" width="20">Representantes de Paraguay
    </div>
    <div class="card-body p-3">
      <div class="card">
        <div class="card-body p-3">
          <div class="media">
            <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/par/lauseker.png" alt="Sergio Lauseker"
              title="Sergio Lauseker">
            <div class="media-body ml-3">
              <div class="m-media-title">Sergio Lauseker</div>
              <div class="m-media-description">
                <div>
                  <i class="fa fa-caret-right mr-3"></i>Licenciado en Psicología, Universidad Nacional 2000.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Postgrado “Psicología del Dep. en el Alto Rendimiento y la Act. Física. Evaluación Psicodeportológica.
                  Fac. de Psicología. UBA 2005.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Máster en Educación Superior, Universidad Nacional del Este, año 2011.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Selecciones Juveniles de la Asociación Paraguaya de Fútbol. 2010, 2011, 2012.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Selección de mayores Futsal-FIFA de Paraguay, Mundial de Tailandia 2012.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body p-3">
    <div class="card mt-3">
        <div class="card-body p-3">
          <div class="media">
            <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/par/dancuart.png" alt="Natalia Dancuart"
              title="Natalia Dancuart">
            <div class="media-body ml-3">
              <div class="m-media-title">Natalia Dancuart</div>
              <div class="m-media-description">
                  <div>
                      <i class="fa fa-caret-right mr-3"></i>Tesorera de Solcpad
                  </div>
                <div class="mt-2">
                    <a href="https://www.linkedin.com/in/natalia-dancuart-17616125/" target="blank">
                      <i class="fa fa-external-link mr-3"></i>Ver Perfil
                    </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

  </div>
</div>
