<!-- Slider / Video Destacado -->

<div class="container-fluid p-0">
  <a href="assets/archivos/home/congreso2021Crono.pdf" target="_blank">
    <div class="row">
      <div class="col-md-12 p-3 m-0 bg-online">
        <!-- <a href="/congreso-2020">
            <div class="panel p-0">
              <div class="panel-body p-3 text-center">
                <img src="assets/img/logo-ucaco.png" width="30%" alt="">
                <div class="text-aniversario-title pt-2 pb-2">
                  II Congreso Internacional de la Sociedad Latinoamericana <br> y del Caribe de Psicología de la Actividad Física y del Deporte
                </div>
                <div class="text-aniversario pb-3 congreso-red">
                  "Nuevos escenarios de la psicología del deporte: tendencias, desafíos y estrategias."
                </div>
                <div class="text-aniversario pt-3 pb-2">
                  6, 7, 8 y 9 de mayo de 2020 &nbsp; | &nbsp; Córdoba- Argentina
                </div>

                <div class="text-aniversario pt-3 pb-2">
                  Sede: Auditorio de la Universidad Católica de Córdoba (UCC). Obispo Trejo 323.
                </div>

                <div class="text-aniversario-title pt-3 congreso-red">
                  CLICK AQUÍ PARA MÁS INFORMACIÓN ACERCA DEL CONGRESO
                </div>

                <div class="text-aniversario-title pt-3 pb-2" >
                  <a href="assets/archivos/home/Tarifas-Hospedaje.pdf" style="color: yellow!important" class="text-white" target="blank">
                    Click aquí para más información sobre hospedaje
                  </a>
                </div>

                <div class="text-aniversario-title pt-3 pb-2">
                  Informes e inscripción: contacto@solcpad.com
                </div>

                   <div class="text-aniversario-link pt-4 pb-1">

                  </div>

              </div>
            </div>
          </a> -->
      </div>
    </div>
  </a>
</div>

<!-- Contacto -->

<div class="container-fluid bg-contacto">
  <div class="form-row p-1">
    <div class="col-md-12 d-flex align-items-center h-contacto p-2">
      <div class="text-center w-100">
        <i class="fa fa-envelope-o mr-3"></i>Para más información, consultas, asociarte o participar de seminarios, no
        dudes en comunicarte a secretaria@solcpad.com y tendrás tu respuesta a la brevedad.
      </div>
    </div>
  </div>
</div>

<!-- Noticias Destacadas -->

<div class="container-fluid p-0 pt-1">
  <div class="form-row">
    <!-- Izquierda -->

    <div class="col-md mt-3 p-0">
      <div class="card ml-3 mr-3 mb-2">
        <div id="carousel-home" class="carousel slide" data-ride="carousel" data-interval="1500">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let item of Arr(num).fill(1); index as i" [ngClass]="{ active: i == 0 }">
              <a href="#" class="nav-link p-0" routerLink="/fotogaleria">
                <img
                  src="assets/img/slider-home-congreso/{{ i + 1 | number }}.jpg"
                  alt="Imagenes Destacadas"
                  style="display: block; width: 100%"
                />
                <div class="carousel-caption d-none d-md-block">
                  <div class="text-carousel">Congreso Solcpad Colombia 2021</div>
                  <div class="text-carousel-link mt-2">Click aqui para acceder a la fotogalería</div>
                </div>
                <div class="card-img-overlay bg-overlay"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <a href="assets/archivos/home/EntrevistaDavid.pdf" target="_blank">
        <div class="card ml-3 mr-3 mt-3 mb-2">
          <img src="assets/img/home/EntrevistaDavid.png" class="card-img-top" />
          <div class="card-body p2">
            <div class="text-center h-card-header pt-2">
              David Peris-Delcampo Presidente Federación Española de Psicología del Deporte (FEPD)
            </div>
            <div class="text-center h-card-text pt-2">
              “Desde muy pequeño me ha interesado entender cómo funcionan las personas y qué hacer para poder ayudar a
              que funcionen mejor… soy muy sensible a los comportamientos de otros”
            </div>
          </div>
        </div>
      </a>
      <a href="assets/archivos/home/frak.pdf" target="_blank">
        <div class="card ml-3 mr-3 mt-3 mb-2">
          <img src="assets/img/home/frak.png" class="card-img-top" />
          <div class="card-body p2">
            <div class="text-center h-card-header pt-2">
              Cuando un amigo se va queda un espacio vacío que no se lo puede llenar
            </div>
            <div class="text-center h-card-text pt-2">
              Psicólogo, maestro, amigo, expositor, dirigente, pionero del desarrollo de la Psicología de la Actividad
              Física y del Deporte en Ecuador y Latinoamérica
            </div>
          </div>
        </div>
      </a>

      <!--div class="card">
            <div class="card-body p-2">
              <div id="carousel-home" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <video controls>
                          <source src="assets/videos/2.mp4" type="video/mp4">
                      </video>
                  </div>
                  <div class="carousel-item">
                      <video controls>
                          <source src="assets/videos/3.mp4" type="video/mp4">
                      </video>
                  </div>
                  <div class="carousel-item">
                      <video controls>
                          <source src="assets/videos/6.mp4" type="video/mp4">
                      </video>
                  </div>
                  <div class="carousel-item">
                      <video controls>
                          <source src="assets/videos/8.mp4" type="video/mp4">
                      </video>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-home" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carousel-home" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>
              </div>
            </div>
          </div-->

      <div class="card ml-3 mr-3 mb-2">
        <video controls preload="metadata">
          <source src="assets/videos/balague.mp4#t=1.0" type="video/mp4" />
        </video>
      </div>
      <!--
      EL DEPORTE Y SUS CIENCIAS
      <a href="https://aatd.org.ar/evento/el-deporte-y-sus-ciencias/" target="blank">
        <div class="card ml-3 mr-3 mt-3">
          <img class="card-img-top" src="assets/img/home/bg_congreso.jpg" alt="Concurso SOLCPAD">
          <div class="card-body p-2">
            <div class="text-center h-card-header pt-2">
              EL DEPORTE Y SUS CIENCIAS
            </div>
            <div class="text-center h-card-text pt-2">
              XVII Congreso de la Asociación Argentina de Traumatología del Deporte
            </div>
            <div class="text-center h-card-text pt-3">
              11 Y 12 de Abril de 2019
            </div>
            <div class="text-center h-card-link pt-3 pb-1">
              Click aquí para más información
            </div>
          </div>
        </div>
      </a>
      -->

      <a href="assets/archivos/home/Intrusismo-profesional-en-la-Psicologia-del-Deporte.pdf" target="_blank">
        <div class="card ml-3 mr-3 mt-3 mb-2">
          <img src="assets/img/home/El-Intrusismo-Profesional.jpg" class="card-img-top" />
          <div class="card-body p2">
            <div class="text-center h-card-header pt-2">El Intrusismo Profesional en la Psicología del Deporte</div>
            <div class="text-center h-card-text pt-2">Una Mirada desde la Salud Mental</div>
            <div class="text-center h-card-link pt-3 pb-1">Click aquí para más información</div>
          </div>
        </div>
      </a>

      <a href="assets/archivos/home/bases_condiciones_concurso_solcpad_2018.pdf" target="blank">
        <div class="card mt-3 ml-3 mr-3 mb-2">
          <img class="card-img-top" src="assets/img/home/bg_concurso.jpg" alt="Concurso SOLCPAD" />
          <div class="card-body p-2">
            <div class="text-center h-card-header pt-2">LA INCLUSION DE LA MUJER EN EL DEPORTE EN EL SIGLO XXI</div>
            <div class="text-center h-card-text pt-2">Concurso organizado por SOLCPAD</div>
            <div class="text-center h-card-text pt-1">No dejes de participar.. ¡Importantes premios!</div>
            <div class="text-center h-card-link pt-3 pb-1">Click aquí para más información</div>
          </div>
        </div>
      </a>

      <a href="assets/archivos/home/Presentacion_Dr_De_la_Vega_Marcos_Seminario_Nov_2017.pdf" target="blank">
        <div class="card ml-3 mr-3 mt-3">
          <img class="card-img-top" src="assets/img/home/bg_solidez_mental.jpg" alt="Concurso SOLCPAD" />
          <div class="card-body p-2">
            <div class="text-center h-card-header pt-2">CONSTRUYENDO SOLIDEZ MENTAL</div>
            <div class="text-center h-card-text pt-3 pb-2">
              Última conferencia magistral del Dr. Ricardo de la Vega Marcos en el Seminario Online "Construyendo
              Solidez Mental"
            </div>
            <div class="text-center h-card-link pt-3 pb-1">¡ Click aquí para leer !</div>
          </div>
        </div>
      </a>

      <div class="card mt-3 ml-3 mr-3">
        <a href="assets/archivos/home/natacion.pdf" target="blank">
          <img class="card-img-top" src="assets/img/home/natacion.jpg" alt="Natacion" />
        </a>
      </div>

      <!--a href="assets/archivos/home/congreso-online-cronograma.pdf" target="blank">
          <div class="card bg-cuba mt-3">
            <div class="card-body p-3">
              <div class="text-center h-noticias pt-3 pb-2" style="font-size: 45px;">
                  NUEVO CRONOGRAMA
              </div>
              <div class="text-center h-noticias pt-3 pb-2">
                CONGRESO ONLINE INTERNACIONAL
              </div>

              <div class="text-center h-card-link text-white pt-2 pb-2">
                Click aquí para descargar cronograma
              </div>
            </div>
          </div>
        </a-->
    </div>

    <!-- Centro -->

    <div class="col-md-6 mt-3 p-0">
      <div class="card mt-3">
        <a href="assets/archivos/home/Memorias2021.pdf">
          <img class="card-img-top" src="assets/img/home/Memoria2021.jpg" alt="Packs" />
        </a>
      </div>
      <div class="card mt-3">
        <a href="https://libreriafanaticos.com/producto/claves-actuales-de-la-psicologia-del-deporte/" target="_blank">
          <img class="card-img-top" src="assets/img/home/piscodeporte.jpg" alt="Packs" />
        </a>
      </div>
      <div class="card mt-3">
        <img class="card-img-top" src="assets/img/home/neurociencias.jpg" alt="Packs" />
      </div>
      <div class="card mt-3">
        <a href="assets/img/home/7solcpad.jpeg">
          <img class="card-img-top" src="assets/img/home/7solcpad.jpeg" alt="Packs" />
        </a>
      </div>
      <div class="card mt-3">
        <a href="assets/archivos/home/Cronograma_Colombia%202021.pdf">
          <img class="card-img-top" src="assets/img/home/Cronograma_Colombia_2021.jpg" alt="Packs" />
        </a>
      </div>

      <div class="card mt-3">
        <img class="card-img-top" src="assets/img/home/Congreso2021solcpadslider.jpg" alt="Packs" />
      </div>
      <div class="card mt-3">
        <a href="assets/archivos/noticias/BOGOTA-SOLCPAD-FINAL-FINAL.pdf">
          <img class="card-img-top" src="assets/img/home/CongresoDual001.jpeg" alt="Packs" />
        </a>
      </div>

      <div class="card mt-3">
        <a href="assets/archivos/noticias/BOGOTA-SOLCPAD-FINAL-FINAL.pdf">
          <img class="card-img-top" src="assets/img/home/CongresoDual002.jpeg" alt="Packs" />
        </a>
      </div>

      <div class="card mt-3">
        <a href="assets/archivos/noticias/BOGOTA-SOLCPAD-FINAL-FINAL.pdf">
          <img class="card-img-top" src="assets/img/home/bogota-solcpad-final-final.jpg" alt="Packs" />
        </a>
      </div>

      <div class="card mt-3">
        <img class="card-img-top" src="assets/img/home/NicolasBargSlider.jpg" alt="Packs" />
      </div>
      <div class="card mt-3">
        <a href="https://www.solcpad.org">
          <img class="card-img-top" src="assets/img/home/packs.jpg" alt="Packs" />
        </a>
      </div>

      <div class="card mt-3">
        <a href="assets/archivos/home/memorias-congreso.pdf">
          <img class="card-img-top" src="assets/img/home/memorias.jpg" alt="Packs" />
        </a>
      </div>

      <div class="card mt-3">
        <iframe class="youtube" style="height: 300px" src="https://www.youtube.com/embed/ND_UV-D-5WM"> </iframe>
      </div>

      <div class="card mt-3">
        <a href="https://www.solcpad.org/balague">
          <img class="card-img-top" src="assets/img/home/balague.jpg" alt="Balague" />
        </a>
      </div>

      <div class="card mt-3">
        <a href="assets/archivos/home/trabajos-libres.zip">
          <img class="card-img-top" src="assets/img/home/trabajos-libres.jpg" alt="Trabajos Libres" />
        </a>
      </div>
      <!--div class="card mt-3">
            <img class="card-img-top" src="assets/img/home/zoom-slide.jpg" alt="Zoom Slide">
        </div-->

      <div class="card mt-3">
        <img class="card-img-top" src="assets/img/home/collage1.jpg" alt="Collage 1" />
      </div>
      <div class="card mt-3">
        <img class="card-img-top" src="assets/img/home/collage2.jpg" alt="Collage 2" />
      </div>
      <div class="card mt-3">
        <img class="card-img-top" src="assets/img/home/collage3.jpg" alt="Collage 3" />
      </div>

      <!--div class="card mt-3">
            <div class="card-body p-0">
                <video controls autoplay muted>
                    <source src="assets/videos/5.mp4" type="video/mp4">
                  </video>
            </div>
          </div-->

      <!--a href="assets/img/slide-futbol.pdf" target="blank">
        <div class="card bg-futbol mt-3">
          <div class="card-body p-3">
            <div class="text-center h-noticias pt-3 pb-2">
              PSICOLOGÍA Y FÚTBOL
            </div>
            <div class="text-center h-card-text text-white pt-3 pb-3">
              Seminario virtual a cargo de Pablo Nigro y Marcelo Roffé <br>
               "Intervenciones Psicológicas en Fútbol Amateur y Profesional"<br> <br>
               Marzo 2020 <br><br>
               Consultas e inscripciones: contacto@solcpad.com
            </div>
            <div class="text-center h-card-link text-white pt-2 pb-2">
              Click aquí para más información.
            </div>
          </div>
        </div>
      </a-->

      <a href="http://www.solcpad.org" target="blank">
        <div class="mt-3 card bg-campus">
          <div class="card-body p-3">
            <div class="text-center h-noticias pt-3 pb-2">NUEVO CAMPUS UNIVERSITARIO SOLCPAD</div>
            <div class="text-center h-card-text text-white pt-3 pb-3">
              ¡ No te pierdas los nuevos seminarios de actualización a distancia !
            </div>
            <div class="text-center h-card-link text-white pt-2 pb-2">
              ¡ Comienzan ya ! Click aquí para más información.
            </div>
          </div>
        </div>
      </a>

      <a href="assets/libros/Futbol_y_Violencia_Roffe_Jozami.pdf" target="blank">
        <div class="card mt-3 bg-violencia">
          <div class="card-body p-3">
            <div class="text-center h-card-header text-white pt-3">FÚTBOL Y VIOLENCIA</div>
            <div class="text-center h-card-text text-white pt-3 pb-3">
              A raíz de los hechos de público conocimiento (Final: River vs Boca) y agradeciendo a Lugar Editorial y
              José Jozami, publicamos a continuación en forma gratuita el libro Fútbol y Violencia para que toda la
              gente tenga acceso al mismo.
            </div>
            <div class="text-center h-card-text text-white pb-3">
              Es un tema que nos compete en el país del mundo con más muertes alrededor de una cancha de fútbol 318 y
              donde la violencia no cesa!
            </div>
            <div class="text-center h-card-text text-white pb-3">
              Este libro fue compilado desde un modo interdisciplinar con aportes de otros autores de otras disciplinas
              de primer nivel y fue presentado en el Senado de la Nación en Junio 2010! Ojalá les guste y lo compartan.
            </div>
            <div class="text-center h-card-link text-white pt-2 pb-1">¡ Click aquí para leer !</div>
          </div>
        </div>
      </a>

      <div class="mt-3 p-0">
        <div id="carousel-home" class="carousel slide" data-ride="carousel" data-interval="3500">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let item of Arr(num).fill(1); index as i" [ngClass]="{ active: i == 0 }">
              <a href="#" class="nav-link p-0" routerLink="/fotogaleria">
                <img
                  src="assets/img/slider-home/{{ i + 1 | number }}.jpg"
                  alt="Imagenes Destacadas"
                  style="display: block; width: 100%"
                />
                <div class="carousel-caption d-none d-md-block">
                  <div class="text-carousel">ISSP 14TH Congreso Mundial de Psicología del Deporte</div>
                  <div class="text-carousel-link mt-2">Click aqui para acceder a la fotogalería</div>
                </div>
                <div class="card-img-overlay bg-overlay"></div>
              </a>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-home" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carousel-home" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Derecha -->

    <div class="col-md mt-3 p-0">
      <div class="card mt-3 ml-3 mr-3">
        <a href="assets/archivos/home/jornadaMiguel.pdf" target="blank">
          <img class="card-img-top" src="assets/img/home/jornadaMiguel.png" alt="Certificacion" />
        </a>
      </div>
      <div class="card ml-3 mr-3 mb-2">
        <video controls preload="metadata">
          <source src="assets/videos/LibroSolcpad.mp4" type="video/mp4" />
        </video>
      </div>

      <div class="card mt-3 ml-3 mr-3">
        <a href="assets/archivos/home/CERTIFICACION2022.pdf" target="blank">
          <img class="card-img-top" src="assets/img/home/Certificacion2022.jpeg" alt="Certificacion" />
        </a>
      </div>
      <div class="card ml-3 mr-3">
        <video controls>
          <source src="assets/videos/saviolaVideo.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="card ml-3 mr-3">
        <video controls>
          <source src="assets/videos/INTRUISMOSOLCPAD.mp4" type="video/mp4" />
        </video>
      </div>
      <!--div class="card">
        <div class="card-body p-2">
              <div id="carousel-home-2" class="carousel slide" data-ride="carousel-2" data-interval="3000">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <video controls>
                          <source src="assets/videos/0.mp4" type="video/mp4">
                      </video>
                  </div>
                  <div class="carousel-item">
                      <video controls>
                          <source src="assets/videos/4.mp4" type="video/mp4">
                      </video>
                  </div>
                  <div class="carousel-item">
                      <video controls>
                          <source src="assets/videos/7.mp4" type="video/mp4">
                      </video>
                  </div>

                </div>
                <a class="carousel-control-prev" href="#carousel-home-2" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carousel-home-2" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>
              </div>
            </div>
          </div-->

      <a href="https://www.youtube.com/playlist?list=PLCNh74gP7X_6pKTvC17I8F1J6Zx4sraS3" target="blank">
        <div class="card ml-3 mr-3">
          <img class="card-img-top" src="assets/img/home/bg_aniversario.jpg" alt="Concurso SOLCPAD" />
          <div class="card-body p-2">
            <div class="text-center h-card-header pt-2">SOLCPAD VIDEOS</div>
            <div class="text-center h-card-text pt-3 pb-2">
              Con motivo de los 4 años de aniversario de su nacimiento celebramos el mismo con una nueva modalidad de
              extraer algunas enseñanzas de los conferencistas de los seminarios online.
            </div>
            <div class="text-center h-card-link pt-3 pb-2">¡ Click aquí para ver los videos !</div>
          </div>
        </div>
      </a>

      <a href="assets/archivos/noticias/convenio_solcpad_fiap.pdf" target="blank">
        <div class="card mt-3 ml-3 mr-3">
          <img class="card-img-top" src="assets/img/home/bg_convenio.jpg" alt="Concurso SOLCPAD" />
          <div class="card-body p-2">
            <div class="text-center h-card-header pt-2">CONVENIO SOLCPAD - FIAP</div>
            <div class="text-center h-card-text pt-3 pb-2">
              Gracias a Enrique Cantón y a Francisco Santolaya hemos podido firmar este acuerdo muy importante para la
              sociedad. Se nos abre un horizonte todavía más importante así que felicitaciones a todos, bendiciones y a
              seguir trabajando!
            </div>
            <div class="text-center h-card-link pt-3 pb-1">¡ Click aquí para leer !</div>
          </div>
        </div>
      </a>

      <!--
      SEMINARIO ONLINE GESTION Y EMOCION
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdmzcyMaC3NXUGDnzk9VzAcrIfvCcbSqsETgy3pBQz2UJhXjg/viewform?vc=0&c=0&w=1&fbclid=IwAR32slNg5VTV-s1JPVAtOIyvX8Qd2P7sxDYQwNREf6l8GKqEa3bhP8I0D6E" target="blank">
        <div class="card mt-3 ml-3 mr-3">
          <img class="card-img-top" src="assets/img/home/bg_seminario.jpg" alt="Seminario Online">
          <div class="card-body p-2">
            <div class="text-center h-card-header pt-2">
              SEMINARIO ONLINE - Gestión y Emoción en el Deporte
            </div>
            <div class="text-center h-card-text pt-3">
              T. Escudero, L. Hernandez, M. Roffe, P. Ortiz, M. Herrera, A. Levy
            </div>
            <div class="text-center h-card-text pt-1">
              4 y 5 de Diciembre de 2018 - 18, 19, 20 hs (Argentina)
            </div>
            <div class="text-center h-card-link pt-3 pb-1">
              ¡ Click aquí para inscribirse !
            </div>
          </div>
        </div>
      </a>
      -->

      <div class="card mt-3 ml-3 mr-3">
        <img class="card-img-top" src="assets/img/home/comites.jpg" alt="Comites" />
      </div>
    </div>
  </div>
</div>

<!-- Noticias Destacadas -->

<div class="container-fluid bg-noticias mt-4">
  <div class="form-row">
    <div class="col-md-12 d-flex align-items-center h-noticias p-3">
      <div class="text-center w-100 p-1"><i class="fa fa-newspaper-o fa-lg mr-3"></i>Noticias Destacadas</div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let noticia of noticias" class="col-md-4 mb-4">
      <a href="{{ noticia.url }}" target="blank">
        <div class="card h-100">
          <div class="card-body h-100 p-4">
            <div class="media">
              <img
                class="img-thumbnail d-flex align-self-start rounded"
                src="assets/img/noticias/{{ noticia.imagen }}"
                alt="{{ noticia.titulo }}"
                title="{{ noticia.titulo }}"
              />
              <div class="media-body ml-3">
                <div class="h-media-title" [innerHtml]="noticia.titulo"></div>
                <div
                  class="h-media-description"
                  [innerHtml]="
                    noticia.descripcion.length > 200
                      ? (noticia.descripcion | slice : 0 : 200) + '...'
                      : noticia.descripcion
                  "
                ></div>
              </div>
            </div>
          </div>
          <div class="card-footer h-text-bold"><i class="fa fa-caret-right mr-3"></i>Click aquí para ver</div>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- Socios -->

<div class="container-fluid bg-socios">
  <a routerLink="/socios">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center w-100">
          <div class="h-socios text-center mt-4">
            <i class="fa fa-id-card mr-3"></i>¡Asociate a SOLCPAD! Descubrí todos los beneficios que podemos ofrecerte.
          </div>
          <div class="h-socios text-center mt-3">
            ¡Completa el formulario, adjunta tu CV y evaluaremos tu solicitud!
          </div>
          <div class="h-socios-info text-center mt-3 mb-4">Click aquí para más información</div>
        </div>
      </div>
    </div>
  </a>
</div>

<!-- Asociaciones -->

<div class="container-fluid">
  <div class="form-row">
    <div class="col-md-12 h-asociaciones text-center mt-4">Asociaciones que adhieren y apoyan a SOLCPAD</div>
  </div>
  <div class="form-row">
    <div class="col-md">
      <a href="https://www.psicodeportes.com" target="blank">
        <div class="card mt-3">
          <div class="card-body p-3">
            <img class="img-fluid mx-auto d-block" src="assets/img/asociaciones/apda.jpg" alt="APDA" title="APDA" />
          </div>
        </div>
      </a>
    </div>
    <div class="col-md">
      <a href="http://apside2013.blogspot.com.ar" target="blank">
        <div class="card mt-3">
          <div class="card-body p-3">
            <img
              class="img-fluid mx-auto d-block"
              src="assets/img/asociaciones/apside.jpg"
              alt="APSIDE"
              title="APSIDE"
            />
          </div>
        </div>
      </a>
    </div>
    <div class="col-md">
      <a href="http://www.actiweb.es/psicodep/" target="blank">
        <div class="card mt-3">
          <div class="card-body p-3">
            <img
              class="img-fluid mx-auto d-block"
              src="assets/img/asociaciones/psicodep.jpg"
              alt="AMPDAF"
              title="AMPDAF"
            />
          </div>
        </div>
      </a>
    </div>
    <div class="col-md">
      <a href="https://www.facebook.com/SociedadCubanadePsicologia/" target="blank">
        <div class="card mt-3">
          <div class="card-body p-3">
            <img
              class="img-fluid mx-auto d-block"
              src="assets/img/asociaciones/soc_cub_psi.jpg"
              alt="SCP"
              title="SCP"
            />
          </div>
        </div>
      </a>
    </div>
    <!--div class="col-md">
      <a href="https://www.facebook.com/Asociación-Peruana-de-Psicología-del-Deporte-y-el-Ejercicio-278197165616745/" target="blank">
        <div class="card mt-3">
          <div class="card-body p-3">
            <img class="img-fluid mx-auto d-block" src="assets/img/asociaciones/apepside.jpg" alt="APEPSIDE" title="APEPSIDE">
          </div>
        </div>
      </a>
    </div-->
    <div class="col-md">
      <a
        href="https://www.facebook.com/Asociacion-Ecuatoriana-De-Psicologia-Del-Deporte-115122515864292/"
        target="blank"
      >
        <div class="card mt-3">
          <div class="card-body p-3">
            <img class="img-fluid mx-auto d-block" src="assets/img/asociaciones/aepd.jpg" alt="AEPD" title="AEPD" />
          </div>
        </div>
      </a>
    </div>
    <div class="col-md">
      <a href="http://www.acopde.com" target="blank">
        <div class="card mt-3">
          <div class="card-body p-3">
            <img
              class="img-fluid mx-auto d-block"
              src="assets/img/asociaciones/acopde.jpg"
              alt="ACOPDE"
              title="ACOPDE"
            />
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- Social Media -->

<div class="container-fluid bg-social mt-4">
  <div class="form-row">
    <div class="col-md-12 d-flex align-items-center h-social p-2">
      <div class="text-center w-100 p-1">
        <i class="fa fa-facebook mr-4"></i>
        <span>Redes Sociales</span>
        <i class="fa fa-twitter ml-4"></i>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mt-4">
      <div class="card h-100">
        <div class="card-body p-3">
          <div
            class="fb-page w-100"
            data-href="https://www.facebook.com/Solcpad-1500563273513647/"
            data-width="400"
            data-height="315"
            data-tabs="timeline"
            data-small-header="true"
            data-adapt-container-width="true"
            data-hide-cover="false"
            data-show-facepile="false"
          >
            <blockquote cite="https://www.facebook.com/Solcpad-1500563273513647/" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/Solcpad-1500563273513647/">SOLCPAD</a>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <div class="card h-100">
        <div class="card-body p-0">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/J-B9WOS4r2Y?showinfo=0"
              frameborder="0"
              gesture="media"
              allow="encrypted-media"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-4">
      <div class="card h-100">
        <div class="card-body pt-1">
          <a
            class="twitter-timeline"
            data-height="325"
            data-chrome="nofooter"
            href="https://twitter.com/solcpad?ref_src=twsrc%5Etfw"
            >Tweets by SOLCPAD</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
