<div class="container-fluid">
  <div class="row section">
    <div class="col-12 section-title">
      <i class="fa fa-users mr-3"></i>Miembros del Directorio</div>
  </div>
  <div class="form-row">
    <div class="col-md mt-4">
      <div class="card">
        <div class="card-header m-card-header">
          <i class="fa fa-user mr-3"></i>Presidente
        </div>
        <div class="card-body text-center p-3">
          <img class="img-thumbnail rounded mx-auto d-block mt-3" src="assets/img/miembros/roffe.png" alt="Marcelo Roffé">
          <div class="mt-3 d-flex align-items-center justify-content-center font-weight-bold">
            <img src="assets/img/banderas/arg.png" class="mr-3" width="20">Marcelo Roffé
          </div>
        </div>
        <div class="card-footer text-center">
          <a href="assets/archivos/miembros/CV_Roffe.pdf" target="blank">
            <i class="fa fa-external-link mr-3"></i>Descargar C.V.
          </a>
        </div>
      </div>
    </div>
    <div class="col-md mt-4">
      <div class="card">
        <div class="card-header m-card-header">
          <i class="fa fa-user mr-3"></i>Vice Presidente
        </div>
        <div class="card-body text-center p-3">
          <img class="img-thumbnail rounded mx-auto d-block mt-3" src="assets/img/miembros/ucha.png" alt="Francisco García Ucha">
          <div class="mt-3 d-flex align-items-center justify-content-center font-weight-bold">
            <img src="assets/img/banderas/cub.png" class="mr-3" width="20">Francisco García Ucha
          </div>
        </div>
        <div class="card-footer text-center">
          <a href="assets/archivos/miembros/CV_Ucha.pdf" target="blank">
            <i class="fa fa-external-link mr-3"></i>Descargar C.V.
          </a>
        </div>
      </div>
    </div>
    <div class="col-md mt-4">
      <div class="card">
        <div class="card-header m-card-header">
          <i class="fa fa-user mr-3"></i>Secretaria
        </div>
        <div class="card-body text-center p-3">
          <img class="img-thumbnail rounded mx-auto d-block mt-3" src="assets/img/miembros/rivas.png" alt="Claudia Rivas">
          <div class="mt-3 d-flex align-items-center justify-content-center font-weight-bold">
            <img src="assets/img/banderas/mex.png" class="mr-3" width="20">Claudia Rivas
          </div>
        </div>
        <div class="card-footer text-center">
          <a href="https://www.linkedin.com/in/claudia-rivas-349b5522/" target="blank">
            <i class="fa fa-external-link mr-3"></i>Ver Perfil
          </a>
        </div>
      </div>
    </div>
    <div class="col-md mt-4">
      <div class="card">
        <div class="card-header m-card-header">
          <i class="fa fa-user mr-3"></i>Tesorera
        </div>
        <div class="card-body text-center p-3">
          <img class="img-thumbnail rounded mx-auto d-block mt-3" src="assets/img/miembros/dancuart.png" alt="Natalia Dancuart">
          <div class="mt-3 d-flex align-items-center justify-content-center font-weight-bold">
            <img src="assets/img/banderas/par.png" class="mr-3" width="20">Natalia Dancuart
          </div>
        </div>
        <div class="card-footer text-center">
          <a href="https://www.linkedin.com/in/natalia-dancuart-17616125/" target="blank">
            <i class="fa fa-external-link mr-3"></i>Ver Perfil
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-header m-card-header-sol">
      <i class="fa fa-sun-o text-secondary mr-3"></i>Amanece que no es poco y sale el
      <span class="text-secondary">SOL</span>
      <span class="text-primary">...CPAD</span>
    </div>
    <div class="card-body p-0">
      <div class="row">
        <div class="col-md-4">
          <img src="assets/img/miembros/mapa2.png" usemap="#map" class="mb-3">
          <map name="map">
            <area coords="203,305,20" shape="circle" data-toggle="collapse" data-target="#arg">
            <area coords="165,330,20" shape="circle" data-toggle="collapse" data-target="#chi">
            <area coords="252,292,20" shape="circle" data-toggle="collapse" data-target="#uru">
            <area coords="248,249,20" shape="circle" data-toggle="collapse" data-target="#par">
            <area coords="290,209,20" shape="circle" data-toggle="collapse" data-target="#bra">
            <area coords="209,228,20" shape="circle" data-toggle="collapse" data-target="#bol">
            <area coords="170,209,20" shape="circle" data-toggle="collapse" data-target="#per">
            <area coords="157,162,20" shape="circle" data-toggle="collapse" data-target="#ecu">
            <area coords="175,121,20" shape="circle" data-toggle="collapse" data-target="#col">
            <area coords="207,92,20" shape="circle" data-toggle="collapse" data-target="#ven">
            <area coords="104,78,20" shape="circle" data-toggle="collapse" data-target="#cos">
            <area coords="193,49,20" shape="circle" data-toggle="collapse" data-target="#pue">
            <area coords="145,30,20" shape="circle" data-toggle="collapse" data-target="#cub">
            <area coords="41,41,20" shape="circle" data-toggle="collapse" data-target="#mex">
          </map>
        </div>
        <div class="col-md-8 bg-banderas" id="paises">
          <div class="card m-3">
            <div class="card-body">
              Hacer click en cada bandera para ver los representantes del país
            </div>
          </div>
          <scp-arg></scp-arg>
          <scp-bra></scp-bra>
          <scp-bol></scp-bol>
          <scp-chi></scp-chi>
          <scp-col></scp-col>
          <scp-cos></scp-cos>
          <scp-cub></scp-cub>
          <scp-ecu></scp-ecu>
          <scp-mex></scp-mex>
          <scp-par></scp-par>
          <scp-per></scp-per>
          <scp-pue></scp-pue>
          <scp-uru></scp-uru>
          <scp-ven></scp-ven>
        </div>
      </div>
    </div>
  </div>
</div>
