<div class="collapse m-3" id="mex" data-parent="#paises">
  <div class="card">
    <div class="card-header m-card-header">
      <img src="assets/img/banderas/mex.png" class="mr-3" width="20">Representantes de México
    </div>
    <div class="card-body p-3">
      <div class="card">
        <div class="card-body p-3">
          <div class="media">
            <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/mex/arcos.png" alt="Yesica Jiménez Arcos"
              title="Yesica Jiménez Arcos">
            <div class="media-body ml-3">
              <div class="m-media-title">Yesica Jiménez Arcos</div>
              <div class="m-media-description">
                <div>
                  <i class="fa fa-caret-right mr-3"></i>Licenciada en Psicología. Universidad del Futbol y Ciencias del Deporte, México.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Psicóloga del Deporte en Asociación Mexiquense de Psicología del Deporte y la Actividad Física, ACT1VA.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Diplomado en Psicología del Rendimiento Deportivo, México.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Prácticas Profesionales en área de Psicología del Centro de Excelencia Medica en Altura.
                </div>
                <div class="mt-2">
                  <i class="fa fa-caret-right mr-3"></i>Servicio Social en Universidad del Futbol y Ciencias del Deporte en el área de Psicología y Admisiones.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body p-3">
    <div class="card mt-3">
      <div class="card-body p-3">
        <div class="media">
          <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/mex/carbajal.png" alt="Ada Sarai Albarran Carbajal" title="Ada Sarai Albarran Carbajal">
          <div class="media-body ml-3">
            <div class="m-media-title">Ada Sarai Albarran Carbajal</div>
            <div class="m-media-description">
              <div>
                <i class="fa fa-caret-right mr-3"></i>Responsable del Área de Psicología del Deporte en Fuerzas Básicas del Club de Fútbol Santos Laguna.
              </div>
              <div class="mt-2">
                <i class="fa fa-caret-right mr-3"></i>Presidenta de Asociación Mexiquense de Psicología del Deporte y la Actividad Física.
              </div>
              <div class="mt-2">
                <i class="fa fa-caret-right mr-3"></i>Responsable del Entrenamiento Psicológico de la Ajedrecista WFM (Woman Fide Master) Carmen Melisa Rodríguez Rosas.
              </div>
              <div class="mt-2">
                <i class="fa fa-caret-right mr-3"></i>Responsable del Entrenamiento Mental del Boxeador Marvin Cabrera.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="card-body p-3">
    <div class="card mt-3">
      <div class="card-body p-3">
        <div class="media">
          <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/mex/cristaldi.png" alt="Galatea Cristaldi" title="Galatea Cristaldi">
          <div class="media-body ml-3">
            <div class="m-media-title">Galatea Cristaldi</div>
            <div class="m-media-description">
              <div>
                <i class="fa fa-caret-right mr-3"></i>Master en Psicología del Deporte UNED, Madrid, España
              </div>
              <div class="mt-2">
                <i class="fa fa-caret-right mr-3"></i>Psicóloga Equipo Copa Davis 2015
              </div>
              <div class="mt-2">
                <i class="fa fa-caret-right mr-3"></i>Coordinadora Departamento Psicología FMT 2015
              </div>
              <div class="mt-2">
                <i class="fa fa-caret-right mr-3"></i>Psicóloga nadadores Juegos Olímpicos Junior, Centroamericanos, Tokio 2020
              </div>
              <div class="mt-2">
                <i class="fa fa-caret-right mr-3"></i>Intervención con atletas en gimnasia artística y patín artístico.
              </div>
              <div class="mt-2">
                <i class="fa fa-caret-right mr-3"></i>Preparación mental para maratonistas Chicago 2019
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="card-body p-3">
    <div class="card mt-3">
        <div class="card-body p-3">
          <div class="media">
            <img class="img-thumbnail d-flex align-self-start rounded" src="assets/img/miembros/mex/rivas.png" alt="Claudia Rivas"
              title="Claudia Rivas">
            <div class="media-body ml-3">
              <div class="m-media-title">Claudia Rivas</div>
              <div class="m-media-description">
                  <div>
                      <i class="fa fa-caret-right mr-3"></i>Secretaria de Solcpad
                  </div>
                <div class="mt-2">
                    <a href="https://www.linkedin.com/in/claudia-rivas-349b5522/" target="blank">
                      <i class="fa fa-external-link mr-3"></i>Ver Perfil
                    </a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
